$darkgreen: #6A7441;
$pink: #fff3f3;
$red: #F50057;
$brown: #59390F;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, sans-serif, Helvetica, Arial;
}

h1,
h2,
h3,
p {
    color: $brown;
}

.nav-link {
    color: $brown;

    &:focus {
        color: $brown;
    }

    &:hover {
        color: $darkgreen;
    }
}

.everlove {
    font-family: Alex Brush;
    font-size: 40px;
    color: $darkgreen;
    text-decoration: none;

    &:hover,
    &:focus {
        color: $darkgreen;
    }
}

.nav-link {
    font-family: Bebas Neue;
    font-size: 24px;
}

#sign-in {
    color: $darkgreen;
}

.dropdown-item {
    font-size: 15px;
}

#about-us {
    margin-top: 5rem;
    background-color: $pink;

    span {
        color: $red;
    }
}

#login {
    background-color: $pink;
    height: 100vh;
}

.sign-form {
    height: 30%;
    min-height: 400px;
    width: 25%;
    min-width: 300px;
    background-color: white;
}

.rounded-custom {
    border-radius: 20px;
}

#intro {
    background-color: #FFE9AE;

    span {
        color: #F9A826;
    }
}

#spark {
    background-color: $pink;
}

.card {
    transition: box-shadow .3s;

    &:hover {
        cursor: pointer;
        box-shadow: 0 0 11px rgba(33, 33, 33, .2);
    }
}

@media (max-width: 991px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}