{% extends 'web/layout.html' %}
{% load static %}


{% block title %} EverLove {% endblock %}


{% block body %}
<!-- About us -->
<section id="about-us">
    <div class="container">
        <div class="d-md-flex justify-content-between align-items-center">
            <div class="text-center text-md-start p-5 p-md-0">
                <h1>Find Your <span>Spark</span></h1>
                <p>EverLove is dedicated to let you meet your Soulmate <br>
                    Matching perfect couples based on personalities, life-styles, hobbies and more</p>
                <a class="btn btn-warning btn-lg mt-3" href="{% url 'web:register' %}">Sign up</a>
            </div>
            <img class="img-fluid pt-5 w-50 d-none d-md-block" src="{% static 'web/love1.svg' %}" alt="love1">
        </div>
    </div>
</section>

<!-- EverLove Intro -->
<section id="intro">
    <div class="container p-4 p-md-0 py-md-4">
        <div class="row">
            <div class="d-none d-md-flex col-3 align-items-center">
                <img class="img-fluid" src="{% static 'web/love2.svg' %}" alt="love2">
            </div>
            <div class="d-none d-md-block col-1"></div>
            <div class="col col-md-4 d-flex justify-content-center align-items-center">
                <div class="text-center">
                    <h1>What is <span>EverLove</span>?</h1>
                    <p class="mt-4">EverLove is an online dating application <br>
                        We aim to help those who willing to slowly get to know each other and find deep, natural like
                        affinity to find other like-minded individuals
                    </p>
                </div>
            </div>
            <div class="d-none d-md-block col-1"></div>
            <div class="d-none d-md-flex col-3 align-items-center">
                <img class="img-fluid" src="{% static 'web/love3.svg' %}" alt="love3">
            </div>
        </div>
    </div>
</section>

<!-- Spark Section-->
<section id="spark">
    <div class="container py-5">

        <div class="text-center pb-4">
            <h1>Match based on your <span>Profile</span></h1>
        </div>

        <div class="row text-center g-4">
            <div class="col-md">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="h1 mb-3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                                class="bi bi-balloon-heart text-danger" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="m8 2.42-.717-.737c-1.13-1.161-3.243-.777-4.01.72-.35.685-.451 1.707.236 3.062C4.16 6.753 5.52 8.32 8 10.042c2.479-1.723 3.839-3.29 4.491-4.577.687-1.355.587-2.377.236-3.061-.767-1.498-2.88-1.882-4.01-.721L8 2.42Zm-.49 8.5c-10.78-7.44-3-13.155.359-10.063.045.041.089.084.132.129.043-.045.087-.088.132-.129 3.36-3.092 11.137 2.624.357 10.063l.235.468a.25.25 0 1 1-.448.224l-.008-.017c.008.11.02.202.037.29.054.27.161.488.419 1.003.288.578.235 1.15.076 1.629-.157.469-.422.867-.588 1.115l-.004.007a.25.25 0 1 1-.416-.278c.168-.252.4-.6.533-1.003.133-.396.163-.824-.049-1.246l-.013-.028c-.24-.48-.38-.758-.448-1.102a3.177 3.177 0 0 1-.052-.45l-.04.08a.25.25 0 1 1-.447-.224l.235-.468ZM6.013 2.06c-.649-.18-1.483.083-1.85.798-.131.258-.245.689-.08 1.335.063.244.414.198.487-.043.21-.697.627-1.447 1.359-1.692.217-.073.304-.337.084-.398Z" />
                            </svg>
                        </div>
                        <h3 class="card-title">Personality</h3>
                        <p class="card-text">
                            Find out what's your type
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="h1 mb-3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                                class="bi bi-calendar-heart text-danger" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v11a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4V.5ZM1 14V4h14v10a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1Zm7-6.507c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z" />
                            </svg>
                        </div>
                        <h3 class="card-title">Life Style</h3>
                        <p class="card-text">
                            Who you are comfortable with
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="h1 mb-3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                                class="bi bi-person-hearts text-danger" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M11.5 1.246c.832-.855 2.913.642 0 2.566-2.913-1.924-.832-3.421 0-2.566ZM9 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm-9 8c0 1 1 1 1 1h10s1 0 1-1-1-4-6-4-6 3-6 4Zm13.5-8.09c1.387-1.425 4.855 1.07 0 4.277-4.854-3.207-1.387-5.702 0-4.276ZM15 2.165c.555-.57 1.942.428 0 1.711-1.942-1.283-.555-2.281 0-1.71Z" />
                            </svg>
                        </div>
                        <h3 class="card-title">Hobby</h3>
                        <p class="card-text">
                            And can have fun together
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <div class="row text-center">
            <div class="col-md-6 offset-md-3">
                <p>Copyright © 2022-Present EverLove Inc. All rights reserved</p>
            </div>
            <div class="col-md-3 fs-6 blockquote-footer text-md-end">You always gain love by giving love</div>
        </div>
    </div>
</footer>

{% endblock %}