{% extends 'web/layout.html' %}
{% load static %}


{% block title %} EverLove Sign up {% endblock %}


{% block body %}

<section class="d-flex justify-content-center align-items-center" id="login">
    {% if user.is_authenticated %}

    <div class="text-center bg-white rounded-custom p-4">
        <a class="everlove" href="{% url 'web:index' %}">EverLove</a>
        <h3>You are already signed in</h3>
        <h3>Ready to find your Soulmate?</h3>
    </div>

    {% else %}

    <div class="sign-form p-4 text-center rounded-custom">
        <form action="{% url 'web:register' %}" method="post">
            {% csrf_token %}
            <a class="everlove" href="{% url 'web:index' %}">EverLove</a>

            {% if message %}
            <div class="alert alert-warning">
                {{ message }}
            </div>
            {% endif %}

            <!-- Username input -->
            <div class="form-outline mt-3 mb-4">
                <input type="text" class="form-control" placeholder="Username" name="username" autofocus required />
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
                <input type="password" class="form-control" placeholder="Password" name="password" required />
            </div>

            <div class="form-outline mb-4">
                <input type="password" class="form-control" placeholder="Confirm Password" name="confirmation" required>
            </div>

            <!-- Submit button -->
            <input type="submit" class="btn btn-primary btn-block mb-4 disabled" value="Sign up" />

            <!-- Register buttons -->
            <div class="mt-2">
                <p>Already a member? <a href="{% url 'web:login' %}">Sign in</a></p>
            </div>
        </form>
    </div>
    {% endif %}
</section>

{% endblock %}